* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: #ffffff;
    background-color: #222425;
}

#window {
    height: 500px;
    width: 300px;
    border: 2px solid rgb(180, 178, 178);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    background-color: #2f3335;
}

#display {
    border: 2px solid gray;
    width: 92%;
    height: 13%;
    margin: 10px;
    background-color: #222425;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 3rem;
    /* handling numbers with greater digits than 10*/
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}

/* hiding the scrollbar for Chrome, Safari, and Edge */
.calculator-display::-webkit-scrollbar {
    display: none;
}

#buttons-section {
    height: 75%;    
    width: 94%;
    display: flex;
    flex-wrap: wrap;
}

#buttons-section button {
    flex: 0 0 calc(100% / 4);
    border: 2px solid rgb(0, 119, 255);
    border-radius: 8px;
    background-color: #373c3e;
    font-size: 2rem;
    color: #ffffff;
}